<a href="https://colab.research.google.com/github/rahultat/DataScienece-EDA/blob/master/Chipotle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [0]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [0]:
chipo= pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep = '\t')

### Step 3. Assign it to a variable called chipo.

### Step 4. See the first 10 entries

In [0]:
chipo.head()

   order_id  ...  item_price
0         1  ...      $2.39
1         1  ...      $3.39
2         1  ...      $3.39
3         1  ...      $2.39
4         2  ...     $16.98

[5 rows x 5 columns]

### Step 5. What is the number of observations in the dataset?

In [0]:
# Solution 1
chipo.shape

(4622, 5)

In [0]:
# Solution 2
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.6+ KB

### Step 6. What is the number of columns in the dataset?

In [0]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [0]:
chipo.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

### Step 8. How is the dataset indexed?

In [0]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [0]:
chipo.groupby('item_name').sum().sort_values('quantity').tail(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 10. For the most-ordered item, how many items were ordered?

In [0]:
chipo.groupby('item_name').sum().sort_values('quantity').tail(1)['quantity']

item_name
Chicken Bowl    761
Name: quantity, dtype: int64

### Step 11. What was the most ordered item in the choice_description column?

In [0]:
chipo.groupby('choice_description').sum().tail(1)

                                                    order_id  quantity
choice_description
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...      1299         1

### Step 12. How many items were orderd in total?

In [0]:
chipo.quantity.sum()

4972

### Step 13. Turn the item price into a float

In [0]:
chipo.item_price.dtype

dtype('O')

In [0]:
chipo.item_price = chipo.item_price.apply(lambda x : float(x[1:-1]))

In [0]:
chipo.item_price.dtype

dtype('float64')

#### Step 13.a. Check the item price type

In [0]:
chipo.item_price

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
5       10.98
6        1.69
7       11.75
8        9.25
9        9.25
10       4.45
11       8.75
12       8.75
13      11.25
14       4.45
15       2.39
16       8.49
17       8.49
18       2.18
19       8.75
20       4.45
21       8.99
22       3.39
23      10.98
24       3.39
25       2.39
26       8.49
27       8.99
28       1.09
29       8.49
        ...
4592    11.75
4593    11.75
4594    11.75
4595     8.75
4596     4.45
4597     1.25
4598     1.50
4599     8.75
4600     4.45
4601     1.25
4602     9.25
4603     9.25
4604     8.75
4605     4.45
4606     1.25
4607    11.75
4608    11.25
4609     1.25
4610    11.75
4611    11.25
4612     9.25
4613     2.15
4614     1.50
4615     8.75
4616     4.45
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

#### Step 13.b. Create a lambda function and change the type of item price

#### Step 13.c. Check the item price type

### Step 14. How much was the revenue for the period in the dataset?

In [0]:
(chipo.item_price * chipo.quantity).sum()

39237.02

### Step 15. How many orders were made in the period?

In [0]:
chipo.order_id.value_counts().sum()

4622

### Step 16. What is the average revenue amount per order?

In [0]:
# Solution 1

In [0]:
# Solution 2

### Step 17. How many different items are sold?